#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f9fafb;
  width: 100%;
  font-family: "outfit", sans-serif;
}

.no-caret::after {
  display: none !important;
}

.fs-7 {
  font-size: 0.875rem;
}

.fs-8 {
  font-size: 0.75rem;
}

.w-fit {
  width: fit-content;
}

input:focus,
input:invalid {
  outline: none;
  box-shadow: none;
}

input.form-control:focus,
input.form-control:invalid {
  outline: none;
  box-shadow: none;
  border-color: inherit;
}

.custom-shadow {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


.fs-header {
  font-size: 3.5rem;
  font-weight: 600;
}

.fs-subheader {
  font-size: 1.5rem;
  font-weight: 500;
}

.py-6 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}