#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f9fafb;
  width: 100%;
  font-family: 'outfit', sans-serif;
}

.no-caret::after {
  display: none !important;
}

.fs-7 {
  font-size: 0.875rem;
}