#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f9fafb;
  width: 100%;
  font-family: "outfit", sans-serif;
}

.no-caret::after {
  display: none !important;
}

.fs-7 {
  font-size: 0.875rem;
}

.fs-8 {
  font-size: 0.75rem;
}

.w-fit {
  width: fit-content;
}

input:focus,
input:invalid {
  outline: none;
  box-shadow: none;
}

input.form-control:focus,
input.form-control:invalid {
  outline: none;
  box-shadow: none;
  border-color: inherit;
}

.custom-shadow {
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */

  /* box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
  /* box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px; */
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
